extends ../node_modules/jade-bootstrap/_bootstrap
append styles
  link(rel='stylesheet', href='/stylesheets/style.css')

head
  title= title
block body

  // Navigation Bar begin

  +navbar("Colenso Project", "dropdown_menu", "inverse")
    +nav_item("/") Home
    +nav_item("about", "active") About
    +nav_item("browse") Browse
    +nav_item("search") Search

  //Navigtion bar end

  .container
    h1= title
    br
    The Colenso Society, Victoria University of Wellington and MTG Hawke’s Bay are delighted
    |  to announce the establishment of the Colenso Project. This exciting new initiative seeks
    |  to build on the blossoming national and international interest in William Colenso’s life
    |  and ideas as the result of the William Colenso Bicentenary Celebrations held in Hawke’s Bay
    |  in 2011, and a body of new publications and research.

    a(href='http://www.williamcolenso.co.nz/about-william-colenso/') [1]
    //Taken directly from www.williamcolenso.co.nz
