extends ../node_modules/jade-bootstrap/_bootstrap
append styles
  link(rel='stylesheet', href='/stylesheets/style.css')

head
  title= title
block body

  // Navigation Bar begin

  +navbar("Colenso Project", "dropdown_menu", "inverse")
    +nav_item("/") Home
    +nav_item("about") About
    +nav_item("browse") Browse
    +nav_item("search", "active") Search
    +nav_item_dropdown("#")(label= "Advanced Search")
      +nav_item("#") Manual XQuery

  //Navigtion bar end

  .container
    h1= title
    p Search for things

    form(action="/searchresults", method="get")
      input(type="text", name="searchString")
      input(type="submit", value="Search")
    p You searched for #{content}.
    if numResults < 2
      p No results found

    else
      p The result was:
      .container
        each val in list
          li: a(href = "/viewFile?file=/" + val)
            |  !{val}
