extends ../node_modules/jade-bootstrap/_bootstrap
append styles
  link(rel='stylesheet', href='/stylesheets/style.css')

head
  title= title
block body

  // Navigation Bar begin

  +navbar("Colenso Project", "dropdown_menu", "inverse")
    +nav_item("/") Home
    +nav_item("about") About
    +nav_item("browse") Browse
    +nav_item("search") Search

  //Navigtion bar end

  .container
    h1= title
    p #{path}
    a(href='download?path=' + path) Download TEI
  .container
    br
    #{file}
  .container
    br
    a(href='download?path=' + path) Download TEI
